/* ========== FOOTER ========== */
.title {
  // .title__footer

  &__footer {
    color: #000000;
    font-family: 'Akzidenz Grotesk BQ - Bd Cnd';
    font-size: 50px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 25px;
    text-align: left;
    text-transform: uppercase;
    margin: 81px 0 39px 8px;
  }
}
.contacts {
  display: flex;
  color: #000000;
  font-family: 'PT Sans';
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 25px;
  text-align: left;
  margin: 0 0 30px 0;
  @media (max-width: $sm) {
    flex-direction: column;
  }

  &__real {
    width: 50%;
    padding: 0 0 0 8px;
    @media (max-width: $sm) {
      width: 100%;
    }
  }
  &__web {
    width: 50%;
    padding: 0 0 0 8px;
    @media (max-width: $sm) {
      width: 100%;
    }
  }
}
.address {
  margin: 0 0 35px 0;
  &.icon-vv {
    &::before {
      padding: 0 10px 0 0;
    }
  }
  @media (max-width: $sm) {
    margin: 0 0 20px 0;
  }
}
.phone {
  &.icon-telephone {
    &::before {
      padding: 0 10px 0 0;
    }
  }
  @media (max-width: $sm) {
    margin: 0 0 20px 0;
  }
}
.email {
  margin: 0 0 35px 0;

  &.icon-email {
    &::before {
      padding: 0 10px 0 0;
    }
  }
  @media (max-width: $sm) {
    margin: 0 0 20px 0;
  }
}
.social {
  display: flex;
  &__item {
    margin: 0 30px 0 0;
    font-size: 20px;
  }
}

// блок map
.map {
  width: 100%;
  max-width: 1366px;
  height: 475px;
  display: flex;
  justify-content: space-between;
  @media (max-width: $md) {
    flex-direction: column;
    height: auto;
  }
  // .map__item

  &__block {
    width: 100%;
    max-width: 683px;
    height: 475px;
    &_item {
      width: 100%;
      height: 475px;
      background-size: cover;
      @media (max-width: $md) {
        height: auto;
      }
    }
    @media (max-width: $md) {
      max-width: 100%;
      height: auto;
    }
  }

  // .map__form

  &__form {
    width: 100%;
    height: 475px;
    max-width: 683px;
    background-color: #000000;
    @media (max-width: $md) {
      height: auto;
      max-width: none;
    }
  }
}

.form {
  margin: 54px 0 0 60px;
  width: 100%;
  // .form__body

  &__title {
    color: #ffffff;
    font-family: 'Akzidenz Grotesk BQ - Bd Cnd';
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 25px;
    text-align: left;
    text-transform: uppercase;
    margin: 0 0 30px 0;
  }
  &__body {
  }

  // .form__item

  &__item {
    margin: 0 0 25px 0;
  }
  &__input {
    width: 100%;
    max-width: 375px;
    min-height: 50px;
    border: 2px solid #959595;
    background-color: #252525;
    &[type='text']::placeholder {
      padding: 18px 0 0 20px;
      color: #959595;
      font-family: 'PT Sans';
      font-size: 15px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      text-transform: uppercase;
    }
    &[type='email']::placeholder {
      padding: 18px 0 0 20px;
      color: #959595;
      font-family: 'PT Sans';
      font-size: 15px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      text-transform: uppercase;
    }
    @media (max-width: $lg) {
      width: 100%;
      max-width: 275px;
      min-height: 40px;
      border: 2px solid #959595;
      background-color: #252525;
      &[type='text']::placeholder {
        padding: 10px 0 0 20px;
        font-size: 15px;
        font-weight: 400;
      }
      &[type='email']::placeholder {
        padding: 10px 0 0 20px;
        font-size: 15px;
        font-weight: 400;
      }
    }
    @media (max-width: $md) {
      width: 100%;
      width: 575px;
      min-height: 40px;
      border: 2px solid #959595;
      background-color: #252525;
      &[type='text']::placeholder {
        padding: 10px 0 0 20px;
        font-size: 15px;
        font-weight: 400;
      }
      &[type='email']::placeholder {
        padding: 10px 0 0 20px;
        font-size: 15px;
        font-weight: 400;
      }
    }
  }

  // .form__button

  &__button {
    width: 155px;
    height: 50px;
    background-color: #fff;
    color: #000000;
    font-family: Bebas Neue;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 50px 0;
    &:hover {
      background-color: #ccc;
    }
  }
  @media (max-width: $md) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 30px 0 0 0;
  }
}

.copiright {
  // .copiright__item

  &__block {
    display: flex;
    justify-content: space-between;
    @media (max-width: $sm) {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__item {
    color: #4d4d4d;
    font-family: 'PT Sans';
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 25px;
    text-align: left;
    margin: 59px 0 0 0;
    @media (max-width: $sm) {
      padding: 0 0 20px 0;
      margin: 20px 0 0 0;
    }
  }

  // .copiright__logo

  &__logo {
    @media (max-width: $sm) {
      align-items: center;
    }
  }
}
.logo {
  // .logo__footer

  &__footer {
    width: 156px;
    height: 65px;
    margin: 34px 0 27px 0;
  }
}
